@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container1{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
}

/* .container #a2{
    background-image: url('bg.jpg');
} */

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: rgb(10, 170, 50);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }
 
#a1{
    text-decoration: none;
    color: white;
    
}  
:hover{
    color: rgb(9, 177, 51);
}






/* Subscription   */


.devices-container {
    margin-top: -350px;
    margin-bottom: -620px;
    transform: rotate(30deg) translate3d(0,40px,0);
  }
  
  .grid-overflow {
    margin-right: -100%;
    float: left;
  }

  .jumbotron h1 {
    font-weight: 900;
  }
  
  
  
  .jumbotron-subscriptions {
    padding: 150px 0 0;
    text-align: left;
    background: url('bg.jpg');
    
  }
  .jumbotron-subscriptions img{
      max-width: 100%;
      background-repeat: no-repeat;
  }
  
  .jumbotron-subscriptions .btn {
    margin-top: 30px;
    margin-bottom: 70px;
  }
  
  .price-title {
    float: left;
    margin: 0;
  }
  
  .price {
    float: right;
    margin: 0 0 12px;
  }
  
  .month {
    font-size: 20px;
  }
  
  .details-subscriptions {
    border: 1px solid white;
    border-left: 0;
    border-right: 0;
    padding: 16px 0;
    padding-left: 0;
    list-style: none;
    font-weight: 700;
    margin-bottom: 0;
  }
  
  .details-subscriptions {
    font-size: 24px;
  }
  
  .tour-variation p:first-child {
    float: left;
  }
  
  .tour-variation p:last-child {
    float: right;
  }
  
  .tour-variation a {
    color: #9bf0e1;
    text-decoration: none;
  }
  
  .tour-variation a:hover {
    color: #42e3c6;
  }
  
  p.legal {
    font-size: 12px;
    margin-top: 8px;
  }
  
  p.legal a {
    text-decoration: underline;
  }
  
  p.legal a:hover {
    color: #42e3c6;
  }
  
  .nexus {
    width: 458px;
    height: 873px;
    padding: 60px 24px 0 18px;
    background: url('../img/nexus-klein-purple.png') no-repeat;
    background-size: cover;
    margin-bottom: -50%;
  }
  
  .nexus img {
    max-width: 100%;
  }


  /* Footer  */

  .footer {
    background-color: black;
    color: white;
    padding: 80px 0 50px;
    text-align: left;
  }
  
  .footer-highlight-aquamarine a {
    color: white;
  }
  
  .footer-highlight-aquamarine a:hover {
    color: #9bf0e1;
  }
  
  .footer-logo a {
    display: block;
    width: 132px;
    height: 40px;
    font: 0/0 a;
    color: transparent;
    border: 0;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 50px;
  }
  
  .footer .nav-title {
    color: #919496;
    font-size: 12px;
    letter-spacing: .08em;
    margin: 20px 0;
    text-transform: uppercase;
  }
  
  .footer .nav li a {
    padding: 3px 0;
    margin: 0 0 12px;
  }
  
  .col-social {
    margin-top: 20px;
  }
  
  .footer .col-social ul {
    float: right;
  }
  
  .footer .col-social li {
    display: inline-block;
  }
  
  .footer .col-social li a {
    padding: 15px;
    margin-bottom: 12px;
    background-color: #222326;
    border-radius: 30px;
  }
  
  .footer .col-social a:hover {
    background-color: #222326;
  }
  
  .col-social a img {
    width: 24px;
    height: 24px;
  }
  
  .footer .nav-small a {
    color: #919496;
  }
  
  .footer .nav-small li a {
    float: left;
    font-size: 12px;
    font-weight: 400;
    padding: 12px;
    margin: 0;
  }
  
  .row-small {
    margin-top: 100px;
  }
  
  .footer .nav-small li:first-child a {
    padding-left: 0;
  }
  
  .flag-icon-us {
      background-image: url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/images/flags/us.svg');
  }
  
  .flag-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    font-size: 18px;
    height: 1em;
    width: 1.33333333em;
  }
  
  .market, .copyright {
    color: #919496;
    font-size: 12px;
  }
  
  a.market {
    color: #919496;
    text-decoration: none;
  }


  /* whats on spotify */
  .text-klein-purple {
    color: #7c25f8;
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  a.btn-scroll {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
  }
  
  a.btn-scroll:hover {
    color: #9bf0e1;
  }
  
  .btn-scroll-text {
    text-transform: uppercase;
    transition: color .3s ease-in-out;
    display: block;
    font-weight: 700;
    letter-spacing: .1em;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 50px;
    line-height: 1;
    margin: 0 0 .75em;
    font-weight: 900;
  }
  
  h3 {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.4;
  }
  
  .jumbotron-whats-on {
    text-align: left;
    padding: 180px 0;
  }
  
  .jumbotron p {
    font-weight: 400;
    font-size: 18px;
    margin: 1em 0;
  }
  
  .album-img {
    padding: 0;
  }